:root {
  --card-thumb-width: 100%;
  --card-thumb-ratio: 16/9;
  --card-padding: var(--space-md);
  --card-title-color: var(--color-primary);
  --card-title-size: var(--text-lg);
  --card-font-size: 1em;
  --card-cont-radius: 0 0 var(--radius) var(--radius);
}

.card {
  border-radius: var(--radius);
  overflow: hidden;
  font-size: var(--card-font-size);

  $cont: #{&}__content;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: var(--space-sm) auto var(--space-lg);
    width: var(--page-width);
    max-width: var(--max-page-width);
    grid-gap: var(--space-md);
  }

  // variations
  &--link {
    > a { height: 100%; }

    > a,
    #{$cont} {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    #{$cont} { justify-content: space-between; }
  }

  &__content {
    padding: var(--card-padding);
    border-radius: var(--card-cont-radius);
    background: var(--color-bg);
  }

  // content
  &__header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    color: var(--card-title-color);

    .chevron {
      font-size: var(--text-xl);
      margin-bottom: var(--space-xs);
    }
  }

  h3 {
    color: currentColor;
    font-size: var(--card-title-size);
    max-width: calc(100% - 2em);
  }

  p {
    color: var(--color-text);
  }

  &__thumb {
    display: block;
    width: var(--card-thumb-width);
    aspect-ratio: var(--card-thumb-ratio);
    background: rgba(0,0,0,0.1);
    margin: 0;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
    }
  }

  &--feature {
    --card-padding: var(--space-xl) var(--space-lg);
    --card-title-color: var(--color-text-heading);
    --card-title-size: var(--text-xl);
    --card-font-size: 1.15em;

    --figure-column: 1;
    --figure-radius: var(--radius-lg) 0 var(--radius-lg) var(--radius-lg);
    --card-thumb-ratio: 4/3;
    --card-cont-radius: 0 var(--radius) var(--radius) 0;

    display: grid;
    grid-template-columns: 1fr minmax(0, 1fr);
    grid-template-rows: 3fr var(--radius-lg);
    width: 100%;
    margin-bottom: var(--space-xxl);

    &:nth-child(even) {
      --figure-order: 2;
      --figure-radius: 0 var(--radius-lg) var(--radius-lg) var(--radius-lg);
      --card-cont-radius: var(--radius) 0 0 var(--radius);
    }

    figure {
      grid-row: 1 / span 2;
      grid-column: var(--figure-order);
      border-radius: var(--figure-radius);
    }

    .btn { margin-top: var(--space-sm); }
  }
}
