:root {
  --card-thumb-width: 100%;
  --card-thumb-ratio: 16/9;
  --card-padding: var(--space-md);
  --card-title-color: var(--color-primary);
  --card-title-size: var(--text-lg);
  --card-font-size: 1em;
  --card-cont-radius: 0 0 var(--radius) var(--radius);
}

.card {
  @include flex;
  flex-direction: column;
  border-radius: var(--radius);
  overflow: hidden;

  $cont: #{&}__content;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: var(--space-sm) auto var(--space-lg);
    width: var(--page-width);
    max-width: var(--max-page-width);
    grid-gap: var(--space-md);

    @include breakpoint(tablg, 'not all') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpoint(tablg, 'not all') {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  // variations
  &--link {
    overflow: visible;

    > a {
      height: 100%;
      box-shadow: 0 0 0 0 transparent;

      &:hover {
        box-shadow: var(--shadow-md);

        #{$cont} {
          background: var(--color-white);
        }
      }
    }

    > a,
    #{$cont} {
      display: flex;
      flex-direction: column;
      flex: 1;
      transition: 0.2s var(--ease-out);
      border-radius: var(--card-cont-radius);
    }

    #{$cont} {
      justify-content: flex-start;
    }
  }

  &__content {
    padding: var(--card-padding);
    border-radius: var(--card-cont-radius);
    background: var(--color-bg);

    *:is(span, p) { font-size: var(--card-font-size); }
  }

  // content
  &__header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: center;
    color: var(--card-title-color);

    .chevron {
      font-size: var(--text-xl);
      margin-bottom: var(--space-xs);
    }
  }

  h3 {
    color: currentColor;
    font-size: var(--card-title-size);
    max-width: calc(100% - 2em);
  }

  p {
    color: var(--color-text);
  }

  &__thumb {
    display: block;
    width: var(--card-thumb-width);
    aspect-ratio: var(--card-thumb-ratio);
    background: rgba(0,0,0,0.1);
    margin: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;

    @include breakpoint(tablg, 'not all') {
      --card-thumb-ratio: 174/79;
      .card--feature & { --card-thumb-ratio: 180/167; }

    }

    @include breakpoint(xs, 'not all') {
      .card--feature & { --card-thumb-ratio: 163 / 116; }
      .card__wrapper & { display: none; }
    }


    img {
      object-fit: cover;
      object-position: top;
      width: 100%;
      height: 100%;
    }
  }

  &--feature {
    --card-padding: var(--space-xl) var(--space-lg) var(--space-xl) calc(var(--radius-lg) * 2);
    --card-title-color: var(--color-text-heading);
    --card-title-size: var(--text-xl);
    --card-font-size: 1.15em;

    --figure-column: 1;
    --figure-radius: var(--radius-lg) 0 var(--radius-lg) var(--radius-lg);
    --card-cont-col: 2;
    --card-thumb-ratio: 38/27;
    --card-cont-radius: 0 var(--radius) var(--radius) var(--radius);
    --card-feature-cols: 1fr repeat(2, var(--radius-lg)) minmax(0, 1fr);
    --card-figure-colspan: 2;

    display: grid;
    grid-template-columns: var(--card-feature-cols);
    align-items: flex-start;
    width: 100%;
    margin-bottom: var(--space-xxl);

    // @include breakpoint(tablg, 'not all') {
    //   --card-feature-cols: repeat(2, minmax(0, 1fr));
    //   --card-figure-colspan: 1;
    //   --figure-radius: var(--radius-lg) 0 0 var(--radius-lg);
    //   margin-bottom: var(--space-xl);
    // }

    @include breakpoint(xs, 'not all') {
      --card-feature-cols: minmax(0, 1fr);
      --card-cont-radius: 0 0 var(--radius) var(--radius);
      --card-padding: var(--space-md);
      --figure-radius: var(--radius-lg) var(--radius-lg) 0 0;
    }


    &:nth-child(even) {
      @include breakpoint(xs) {
        --card-cont-col: 1;
        --figure-column: 3;
        --figure-radius: 0 var(--radius-lg) var(--radius-lg) var(--radius-lg);
        --card-cont-radius: var(--radius) 0 var(--radius) var(--radius);
        --card-padding: var(--space-xl) calc((var(--radius-lg) * 2) + var(--space-lg)) var(--space-xl) var(--space-lg);
      }


      @include breakpoint(xs, 'not all') {
        --figure-column: 1;
      }
    }

    figure {
      position: relative;
      grid-column: var(--figure-column, 1) / span var(--card-figure-colspan);
      border-radius: var(--figure-radius);
      z-index: 1;

      @include breakpoint(xs) {
        grid-row: 1 / span 1;
      }
    }

    #{$cont} {
        grid-column: var(--card-cont-col, 2) / span 3;
        grid-row: 1;
          // @include breakpoint(tablg) {
            // }

            // @include breakpoint(xs) {
      // }

      @include breakpoint(xs, 'not all') {
        grid-row: 2;
        grid-column: 1;
      }
    }

    .btn { margin-top: var(--space-sm); }
  }
}
