/* Misc
--------------------------------------------- */
@import "cards";
@import "video";
@import "r-article";
@import "tippy";
@import "tabs";
@import "people";
@import "locations";
@import "search";

/* Navigation
--------------------------------------------- */
@import "navigation/navigation";

/* Posts and pages
--------------------------------------------- */
@import "content/page-header";
@import "content/posts-and-pages";

/* Comments
--------------------------------------------- */
@import "comments/comments";

/* Widgets
--------------------------------------------- */
@import "widgets/widgets";

/* Media
--------------------------------------------- */
@import "media/media";

/* Captions
--------------------------------------------- */
@import "media/captions";

/* Galleries
--------------------------------------------- */
@import "media/galleries";
