:root {
	// font family
	--font-primary: 'Branding', helvetica, arial, sans-serif;
	--font-secondary: var(--font-primary);

	// weights:
	--font-light: 300;
	--font-regular: 500;
	--font-medium: 600;
	--font-bold: bold;

	// body font size
	--text-base-size: 1.125em; //18px

	// type scale
	--text-scale-ratio: 1.2;
	--text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
	--text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
	--text-md: calc(var(--text-sm) * var(--text-scale-ratio) * 1.2);
	--text-lg: calc(var(--text-md) * var(--text-scale-ratio));
	--text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
	--text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
	--text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
	--text-xxxxl: calc(var(--text-xxxl) * 1.2);
	--text-xxxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio) * 1.2);

	// line-height
	--body-line-height: 1.5;
	--heading-line-height: 1.2;
	--intro-line-height: 1.25;

	// capital letters - used in combo with the lhCrop mixin
	--font-primary-capital-letter: 1;

	@include breakpoint(sm, 'not all') {
		--text-xl: calc(var(--text-lg) * 0.8);
		--text-xxxl: calc(var(--text-lg) * 1.2);
		--text-xxxxl: calc(var(--text-xxl) * 1.3);
		--text-xxxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
	}

	@media (min-width: 900px) and (max-height: 850px) {
		--text-xl: calc(var(--text-lg) * 1);
		--text-xxxl: calc(var(--text-lg) * 2);
		--text-xxxxl: calc(var(--text-xxl) * 1.7);
		--text-xxxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
	}
}

body {
	-webkit-font-smoothing: antialiased;
	font-weight: var(--font-regular);
	font-size: var(--text-base-size);
	font-family: var(--font-primary);
	color: var(--color-text);
}

h1, h2, h3, h4, form legend {
	color: var(--color-text-heading);
	margin-bottom: var(--space-xxs);
	line-height: var(--heading-line-height);
	font-weight: var(--font-medium);
}

// text size
.text--xxxxl { font-size: var(--text-xxxxl); }
h1, .text--xxxl { font-size: var(--text-xxxl); }
h2, .text--xxl { font-size: var(--text-xxl); }
h3, .text--xl { font-size: var(--text-xl); }
h4, .text--lg { font-size: var(--text-lg); }
h5, .text--md { font-size: var(--text-md); }
h6, .text--sm, small { font-size: var(--text-sm); }
.text--xs { font-size: var(--text-xs); }

.title{
&__highlight {
	background-image: linear-gradient(150deg, var(--color-purple-light) -10%, var(--color-secondary) 40%, var(--color-accent-dark) 100%);
	background-size: 100% 35%;
	background-repeat: no-repeat;
	background-position: 0 90%;
}
}

p {
line-height: var(--body-line-height);
margin-bottom: var(--space-sm);

// + p { margin-top: var(--space-sm); }
}

a {
	color: var(--color-link);
	transition: .2s var(--ease-out);
	text-decoration: none;

	&:visited { color: var(--color-link-visited); }
	&:hover{ color: var(--color-link-hover); }
}

b, strong { font-weight: bold; }

ul, ol { list-style: none; }

.text-container, .content {
	+ .content { margin-top: var(--space-xl); }

	h2,
	h3,
	h4 { margin-top: var(--space-sm); }

	ul,
	ol{ margin-bottom: var(--space-lg); }
	p {
		margin-bottom: var(--space-md);
		max-width: 60ch;
	}

	ul { list-style: disc; }
	ol { list-style: auto; }

	li > ul, ol { margin-left: var(--space-md); }

	&--feature {
		color: var(--color-text-feature);
		width: var(--page-width);
		font-size: var(--text-lg);
		line-height: 1.4;
		max-width: 47ch;
		margin: auto;
		text-align: center;
	}

	&--center {
		text-align: center;
		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.content{
  li {
    margin: var(--space-xs) 0;

    &::marker {
      font-weight: var(--font-medium);
      color: var(--color-primary);
    }
  }

  em { font-style: italic; }
  u { text-decoration: underline; }
}

// utility classes
.truncate {
	// truncate text if it exceeds parent
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

%bqPsuedo {
	@include size(2.5em);
	// content: url('/img/blockquote.svg');
	display: inline-block;
	position: relative;
	z-index: -1;
}

.content + .blockquote__wrapper { margin-top: calc(var(--space-xl) * -1); }

blockquote {
	font-style: italic;
	font-size: var(--text-md);
	margin-bottom: 0;
	color: var(--color-accent);
	position: relative;

	@include breakpoint(md, 'not all') {
		margin-left: var(--grid-start-margin);
	}

	&:before {
		@extend %bqPsuedo;
		top: 1.9em;
		left: -1.1em;
	}

	@media screen {
		@supports(background-clip: text) or (-webkit-background-clip: text) {
			color: rgba(0,0,0,0.02);
			background-image: var(--gradient--highlight);

			background-clip: text;
			-webkit-background-clip: text;
		}
	}
}

.blockquote{
	&__end{
		position: relative;

		&:after {
			@extend %bqPsuedo;
			transform: rotate(180deg);
			position: absolute;
			left: -1.2em;
			top: 0;
			margin-top: -1em; // fix for line height breaking...
		}
	}

	&__signoff {
		@include flexMiddle;
		justify-content: flex-end;
		margin-right: -4em;

		@include breakpoint (md, 'not all') {
			margin-right: -3em;
		}

		p { margin: 0; }

		p:before {
			content: "";
			display: block;
			background: currentColor;
			width: 1.5em;
			height: 2px;
			opacity: .6;
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			margin-right: .7em;
		}
	}

	&__img {
		@include size(4em);
		display: inline-block;
		vertical-align: middle;
		border-radius: 100%;
		background: var(--color-contrast-lower);
		overflow: hidden;
		margin-left: -.6em;
		position: relative;
		z-index: -1;
		box-shadow: inset 0 0 13px 0 rgba(0,0,0,0.1);

		&:before {
			@include pseudo;
			top: 0; left: 0; right: 0; bottom: 0;
			background: radial-gradient(circle at 90%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 1) 100%);;
			opacity: 1;
		}

		img {
			@include size(100%);
			object-fit: cover;
		}
	}
}
