:root {
	--nav-color: var(--color-primary);
	--nav-spacing: var(--space-sm);

	@include breakpoint(md) {
		--nav-spacing: var(--space-md);
	}
}

.high-contrast { --nav-color: var(--color-black); }

@include breakpoint(md, 'not all') {
	body.nav-toggled {
		overflow: hidden;

		&::after {
			@include pseudo;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: black;
			opacity: 0.5;
			z-index: 90;
		}
	}
}

$main: '.nav__container';
.nav {
	display: flex;
	align-items: flex-end;

	@include breakpoint(md, 'not all') {
		margin-left: auto;
		grid-row: 2;
	}

	&__toggle {
		@include breakpoint(md) { display: none; }
	}

	#{$main} {
		.nav__controls {
			display: none;
		}

		@include breakpoint(md, 'not all') {
			&, .search-form { display: none; }

			background: var(--color-white);
			position: fixed;
			right: 0;
			top: 0;
			width: 100%;
			max-width: 302px;
			bottom: 0;
			z-index: 500;

			.btn:first-child { display: none; }

			.nav__controls {
				display: grid;
				grid-template-columns: 1fr 2em;
				grid-gap: var(--space-md);
				padding: var(--space-lg) var(--space-md) var(--space-md);
				margin-bottom: var(--space-sm);
			}

			.nav__close {
				--btn-padding: 0.3125em;
				&--tab { display: inline-flex; }
				&--mob { display: none; }
			}
		}

    @media only screen and (max-width: 600px) {
			.nav__controls { padding: var(--space-md); }

			.btn:first-child { display: block; }
			.nav__close {
        &--tab { display: none; }
        &--mob { display: inline-flex; }
      }
    }
	}

	&.toggled {
		@include breakpoint(md, 'not all') {

			#{$main} {
				display: block;

				.search-form { display: grid; }
			}
		}
	}

	&__list {
		@include flex;

		@include breakpoint(md) {
			flex-wrap: nowrap;
			gap: var(--nav-spacing);
		}

		a, a:visited {
			color: var(	--nav-color);
			font-weight: var(--font-medium);

			&:hover { --nav-color: var(--color-hover); }
		}

		> .current-menu-item,
		> .current-menu-parent {
			a { color: var(--nav-color); }

			@include breakpoint(md) {
				&::after {
					@include pseudo;
					height: 3px;
					background: var(--nav-color);
					width: 100%;
					bottom: -1em;
				}
			}

			@include breakpoint(md, 'not all') {
				background: var(--color-contrast-low);
			}
		}
	}

}

.sub-menu {
	display: none;
	position: absolute;
	top: calc(var(--space-xs) + 100%);
	left: 0;
	background: white;
	border-radius: 3px 3px var(--radius) var(--radius);
	box-shadow: var(--shadow-md);
	min-width: 176px;
	width: auto;
	animation: fadein 0.15s var(--ease-out);
	z-index: 500;

	&::before,
	&::after {
		@include pseudo;
		width: 100%;
		left: 0;
	}


	&:before {
		border-top-right-radius: var(--radius-sm);
		border-top-left-radius: var(--radius-sm);
		background: linear-gradient(to bottom, var(--color-slate) 4px, transparent 4px);
		height: 50%;
		min-height: 0.75em;
		z-index: -1;
		top: -4px;
	}

	&::after {
		bottom: 100%;
		height: var(--space-xs);
	}

	> .menu-item {
		&:last-child {
			border-bottom-right-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
		}

		&:hover { background: var(--color-bg); }

		a {
			display: block;
			width: 100%;
			padding: var(--space-sm);
			color: var(--color-primary);
			font-weight: var(--font-regular);
		}
	}
}

.menu-item {
	position: relative;

	@include breakpoint(md, 'not all') {
		.nav & {
			width: 100%;

			a{
				display: block;
				width: 100%;
				padding: var(--space-sm) var(--space-md);

				background-image: url('svgs/icon-chevron.svg');
				background-repeat: no-repeat;
				background-position: calc(100% - var(--space-md)) center;
			}
		}
	}

	&:hover {
		> .sub-menu { display: block; }
	}
}

@keyframes fadein {
	from {
		transform: translateY(1em);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
