:root {
	--nav-color: var(--color-primary);
	--nav-spacing: var(--space-sm);

	@include breakpoint(md) {
		--nav-spacing: var(--space-md);
	}
}

.nav {
	display: flex;
	align-items: flex-end;

	&__toggle {
		@include breakpoint(md) { display: none; }
	}

	&__list {
		@include flex;
		gap: var(--nav-spacing);

		a, a:visited {
			color: var(	--nav-color);
			font-weight: var(--font-medium);

			&:hover { --nav-color: var(--color-hover); }
		}

		> .current-menu-item,
		> .current-menu-parent {
			a { color: var(--nav-color); }
			&::after {
				@include pseudo;
				height: 3px;
				background: var(--nav-color);
				width: 100%;
				top: 1.75em;
			}
		}
	}

}

.sub-menu {
	display: none;
	position: absolute;
	top: calc(var(--space-xs) + 100%);
	left: 0;
	background: white;
	border-radius: 3px 3px var(--radius) var(--radius);
	box-shadow: var(--shadow-md);
	min-width: 176px;
	width: auto;
	animation: fadein 0.15s var(--ease-out);
	z-index: 500;

	&::before,
	&::after {
		@include pseudo;
		width: 100%;
		left: 0;
	}


	&:before {
		border-top-right-radius: var(--radius-sm);
		border-top-left-radius: var(--radius-sm);
		background: linear-gradient(to bottom, var(--color-slate) 4px, transparent 4px);
		height: 50%;
		min-height: 0.75em;
		z-index: -1;
		top: -4px;
	}

	&::after {
		bottom: 100%;
		height: var(--space-xs);
	}

	> .menu-item {
		&:last-child {
			border-bottom-right-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
		}

		&:hover { background: var(--color-bg); }

		a {
			display: block;
			width: 100%;
			padding: var(--space-sm);
			color: var(--color-primary);
			font-weight: var(--font-regular);
		}
	}
}

.menu-item {
	position: relative;

	&:hover {
		> .sub-menu { display: block; }
	}
}

@keyframes fadein {
	from {
		transform: translateY(1em);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}
