html, body {
	height: 100%;
}

.section {
 @include max-width;

	&--full {
		width: 100%;
		max-width: 100%;
	}

	&--grey {
		padding: var(--space-xl) 0;
		background: var(--color-bg);
	}

	&--center {
		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.site-main > [class^=section] {
	@include flex;
	padding: var(--space-xl) 0;
}
