html, body {
	height: 100%;
}

.section {
 @include max-width;

	&--full {
		width: 100%;
		max-width: 100%;
	}

	&--grey {
		padding: var(--space-xl) 0;
		background: var(--color-bg);
	}

	&--center {
		> * {
			margin-left: auto;
			margin-right: auto;
		}

		.section__actions {
			@include flex;
			justify-content: center;
		}
	}

	&--content {
		@include breakpoint(md) {
			max-width: calc(100% / 12 * 8);
			width: 100%;
			margin: auto;
		}
	}
}

.site-main > [class^=section] {
	padding: var(--space-xl) 0;
}
