:root {
	--footer-bg: var(--color-primary);
}

.footer {
  position: sticky;
  top: 100vh;
  color: var(--color-white);

  *:is(h1, h2, h3, h4, h5, h6) { color: var(--color-accent); }

  h3 {
    font-size: 1.5rem;
  }

  a {
    color: var(--color-white);
    font-weight: var(--font-medium);

    &:visited, &:hover {
      color: var(--color-accent-light);
    }
  }

	&__top,
	&__bottom {
		background: var(--footer-bg);
    padding: var(--space-lg) 0;

		> * { @include max-width; }
	}

	&__bottom {
		--footer-bg: var(--color-primary-lighter);
	}

  &__cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: var(--space-md);
  }

  &__nav-list {
    li {
      + li { margin-top: var(--space-sm); }

      &.contact,
      &.facebook,
      &.linkedin {
        &::before {
          @include size(1em);
          content: "";
          display: inline-block;
          vertical-align: bottom;
          background: var(--link-icon) center no-repeat;
          margin-right: var(--space-xs);
        }
      }

      &.contact { --link-icon: url('svgs/icon-phone.svg'); }
      &.facebook { --link-icon: url('svgs/icon-facebook.svg'); }
      &.linkedin { --link-icon: url('svgs/icon-linkedin.svg'); }
    }
  }

  &__links ul{
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xl);
  }

  .flags {
    @include flex;
    gap: var(--space-md);
    margin-bottom: var(--space-sm);

    img {
      min-height: 1.875em;
      aspect-ratio: 2/1;
    }
  }

  &__legals {
    font-size: 0.85rem;
    grid-gap: var(--space-md);
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

.footer__nav {
  margin-bottom: var(--space-lg);

  &-item { margin-bottom: var(--space-sm); }

  &-link {
    font-size: 1rem;
    letter-spacing: 0.75px;
  }
}
