:root {
  --header-padding: var(--space-lg) 0 var(--space-xl);

  @include breakpoint(md, 'not all') {
    --header-padding: var(--space-md) 0 var(--space-lg);
  }

  @include breakpoint(xs, 'not all') {
    --header-padding: var(--space-sm) 0 var(--space-md);
  }
}

.header {
  @include max-width;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--space-md);
  padding: var(--header-padding);

  &__branding {
    grid-row: 1 / span 2;
  }

  &__top,
  .nav > {
    .btn {
      max-height: 2.375em;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--space-sm);

    > *:first-child { margin-right: auto; }

    .btn:not(.btn--primary) {
      @include breakpoint(md, 'not all') { display: none; }
    }

    @include breakpoint(md, 'not all') {
      grid-column: 3;
      grid-row: 2;

      .search { display: none; }
    }
    @media only screen and (max-width: 600px) { display: none; }

    .search-form {

      &--hover,
      &:focus-within {
        max-width: 400px;
        width: 100vw;
      }

      label {
        transition: 0.15s var(--ease-out);
        width: 0;
        opacity: 0;
        margin-left: auto;
      }

      .btn--search {
        &:hover {
          --btn-bg: var(--color-contrast-low);
          --btn-label: var(--color-primary);
          opacity: 0.5;
        }
      }

      &:hover,
      &:focus-within {
        label {
          width: 100%;
          opacity: 1;
        }
      }
    }

  }

  .search {
    svg path {
      fill: none;
      transition: 0.2s var(--ease-out);
    }

    .btn--icon {
      @include flexMiddle;
      @include size(2.5rem);
      background: var(--color-contrast-low);
      margin-right: var(--space-sm);
      padding: 0;

      &:hover {
        background: var(--color-hover);

        svg path { stroke: var(--color-white); }
      }
    }
  }

  .search-form {
    display: grid;
    grid-template-columns: 1fr 2em;
    align-items: center;

    label {
      grid-column: 1 / -1;
      grid-row: 1;
    }

    .btn { transform: translateX(-4px); }

    @include breakpoint(md, 'not all') { grid-column: 1; }
    @include breakpoint(xs, 'not all') { grid-column: 1 / -1; }
  }

  .search-field {
    width: 100%;
    border-radius: 2em;
    background: var(--color-contrast-low);
    font-size: 0.9rem!important;
    &:not(:focus) { border-color: var(--color-contrast-low); }
  }

  .search-submit {
    grid-row: 1;
    grid-column: 2;
  }

  .custom-logo-link {
    @include breakpoint(md) {
      width: 100vw;
      max-width: 280px;
      height: auto;
    }

    @include breakpoint(md, 'not all') {
      width: 100%;
      max-width: 240px;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

//accessability toggles
button[class^=acc__zoom] {
  @include size(1.75rem);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 3px;
  font-size: 1.5rem;
  padding-bottom: 0.21em;
  transition: 0.2s ease-out;

  &:hover {
    background-color: var(--color-slate);
    color: var(--color-white);

    .high-contrast & { background-color: var(--color-contrast-low); color: var(--color-black); }
  }

  + button[class^=acc__zoom] { margin-left: 0.2em; }
}


.acc__wrapper .tippy-content {
  min-width: 180px;
  padding: var(--space-sm);

  li {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span { margin-right: auto; }

    + li { margin-top: var(--space-sm); }
  }


  label, label span {
    display: flex;
    width: 100%;
    gap: 1em;

    &.checkbox--right::before { margin-left: auto; }
  }
}
