.header {
  @include max-width;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: var(--space-md);
  padding: var(--space-lg) 0 var(--space-xl);


  &__branding {
    grid-row: 1 / span 2;
  }

  &__top {
    @include flex;
    align-items: center;
    justify-content: flex-end;

    > *:first-child { margin-right: auto; }
  }

  .custom-logo-link {
    width: 100vw;
    max-width: 280px;
    height: auto;
  }
}
