$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

:root, [data-theme="default"] {
  // main
  @include defineColorHSL(--color-primary-darker, 279, 92%, 9%);
  @include defineColorHSL(--color-primary-dark, 279, 92%, 19%);
  @include defineColorHSL(--color-primary, 279, 92%, 29%);
  @include defineColorHSL(--color-primary-light, 278, 86%, 37%);
  @include defineColorHSL(--color-primary-lighter, 278, 50%, 43%);

  @include defineColorHSL(--color-accent-darker, 103, 50%, 33%);
  @include defineColorHSL(--color-accent-dark, 103, 50%, 43%);
  @include defineColorHSL(--color-accent, 103, 50%, 53%);
  @include defineColorHSL(--color-accent-light, 103, 50%, 63%);
  @include defineColorHSL(--color-accent-lighter, 103, 50%, 73%);

  @include defineColorHSL(--color-secondary-darker, 103, 45%, 22%);
  @include defineColorHSL(--color-secondary-dark, 103, 45%, 32%);
  @include defineColorHSL(--color-secondary, 103, 45%, 42%);
  @include defineColorHSL(--color-secondary-light, 103, 45%, 52%);
  @include defineColorHSL(--color-secondary-lighter, 103, 45%, 62%);

  @include defineColorHSL(--color-black, 210, 7%, 18%);
  @include defineColorHSL(--color-white, 0, 0%, 100%);

  // feedback
  @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
  @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
  @include defineColorHSL(--color-warning, 46, 100%, 61%);
  @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
  @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

  @include defineColorHSL(--color-success-darker, 122, 50%, 47%);
  @include defineColorHSL(--color-success-dark, 122, 50%, 52%);
  @include defineColorHSL(--color-success, 122, 50%, 60%);
  @include defineColorHSL(--color-success-light, 122, 50%, 69%);
  @include defineColorHSL(--color-success-lighter, 122, 50%, 76%);

  @include defineColorHSL(--color-error-darker, 342, 89%, 38%);
  @include defineColorHSL(--color-error-dark, 342, 89%, 43%);
  @include defineColorHSL(--color-error, 342, 89%, 48%);
  @include defineColorHSL(--color-error-light, 342, 89%, 56%);
  @include defineColorHSL(--color-error-lighter, 342, 89%, 62%);

  // background
  @include defineColorHSL(--color-bg-darker, 210, 4%, 89%);
  @include defineColorHSL(--color-bg-dark, 180, 3%, 94%);
  @include defineColorHSL(--color-bg, 179, 0%, 96%);
  // @include defineColorHSL(--color-bg-light, 180, 3%, 100%);
  // @include defineColorHSL(--color-bg-lighter, 210, 4%, 100%);

  // color contrasts
  @include defineColorHSL(--color-contrast-lower, 180, 1%, 84%);
  @include defineColorHSL(--color-contrast-low, 204, 10%, 90%);
  @include defineColorHSL(--color-contrast-medium, 204, 2%, 46%);
  @include defineColorHSL(--color-contrast-high, 210, 7%, 21%);
  @include defineColorHSL(--color-contrast-higher, 204, 28%, 7%);

  // typography
  --color-text-heading: var(--color-secondary);
  --color-text: #425563;
  --color-text-feature: #2b2e31;
}

@supports(--css: variables) {
  [data-theme="dark"] {
    // main
    @include defineColorHSL(--color-primary-darker, 250, 93%, 57%);
    @include defineColorHSL(--color-primary-dark, 250, 93%, 61%);
    @include defineColorHSL(--color-primary, 250, 93%, 65%);
    @include defineColorHSL(--color-primary-light, 250, 93%, 69%);
    @include defineColorHSL(--color-primary-lighter, 250, 93%, 72%);

    @include defineColorHSL(--color-accent-darker, 342, 92%, 41%);
    @include defineColorHSL(--color-accent-dark, 342, 92%, 47%);
    @include defineColorHSL(--color-accent, 342, 92%, 54%);
    @include defineColorHSL(--color-accent-light, 342, 92%, 60%);
    @include defineColorHSL(--color-accent-lighter, 342, 92%, 65%);

    @include defineColorHSL(--color-secondary-darker, 279, 92%, 9%);
    @include defineColorHSL(--color-secondary-dark, 279, 92%, 19%);
    @include defineColorHSL(--color-secondary, 279, 92%, 29%);
    @include defineColorHSL(--color-secondary-light, 278, 86%, 37%);
    @include defineColorHSL(--color-secondary-lighter, 278, 50%, 43%);

    @include defineColorHSL(--color-black, 204, 28%, 7%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-warning-darker, 46, 100%, 47%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 50%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 80%);

    @include defineColorHSL(--color-success-darker, 122, 50%, 47%);
    @include defineColorHSL(--color-success-dark, 122, 50%, 52%);
    @include defineColorHSL(--color-success, 122, 50%, 60%);
    @include defineColorHSL(--color-success-light, 122, 50%, 69%);
    @include defineColorHSL(--color-success-lighter, 122, 50%, 76%);

    @include defineColorHSL(--color-error-darker, 342, 92%, 41%);
    @include defineColorHSL(--color-error-dark, 342, 92%, 47%);
    @include defineColorHSL(--color-error, 342, 92%, 54%);
    @include defineColorHSL(--color-error-light, 342, 92%, 60%);
    @include defineColorHSL(--color-error-lighter, 342, 92%, 65%);

    // background
    @include defineColorHSL(--color-bg-darker, 204, 15%, 6%);
    @include defineColorHSL(--color-bg-dark, 203, 18%, 9%);
    @include defineColorHSL(--color-bg, 203, 24%, 13%);
    @include defineColorHSL(--color-bg-light, 203, 18%, 17%);
    @include defineColorHSL(--color-bg-lighter, 204, 15%, 20%);

    // color contrasts
    @include defineColorHSL(--color-contrast-lower, 208, 12%, 24%);
    @include defineColorHSL(--color-contrast-low, 208, 6%, 40%);
    @include defineColorHSL(--color-contrast-medium, 213, 5%, 56%);
    @include defineColorHSL(--color-contrast-high, 223, 8%, 82%);
    @include defineColorHSL(--color-contrast-higher, 240, 100%, 99%);

    // font rendering
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

// background color
.bg-secondary-darker { background-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.bg-secondary-dark { background-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.bg-secondary { background-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.bg-secondary-light { background-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.bg-secondary-lighter { background-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }

// border color
.border-secondary-darker { border-color: alpha(var(--color-secondary-darker), var(--bg-o, 1)); }
.border-secondary-dark { border-color: alpha(var(--color-secondary-dark), var(--bg-o, 1)); }
.border-secondary { border-color: alpha(var(--color-secondary), var(--bg-o, 1)); }
.border-secondary-light { border-color: alpha(var(--color-secondary-light), var(--bg-o, 1)); }
.border-secondary-lighter { border-color: alpha(var(--color-secondary-lighter), var(--bg-o, 1)); }
